@{
    ViewData["Title"] = "About";
}
<body class="aboutbody">
    <header class="container">
        <nav class="nav">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="Home" asp-action="About">About</a>
            <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            <a asp-area="" asp-controller="Admin" asp-action="Admin" id="admin">Admin</a>



        </nav>
        <div class="left-side-container_to_the_signs">
            <li class="nav-item dropdown leftside">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sign in/up</a>
                <div class="dropdown-menu" id="drop">
                    <a asp-area="" asp-controller="Home" asp-action="Registration" id="Registration">Sign Up!</a>
                    <a asp-area="" asp-controller="Home" asp-action="Login"> Sign In!</a>
                </div>
            </li>
        </div>
    </header>

    <section class="about">

        <article class="titleabout">
            <h1>About</h1>
            <hr />
        </article>
        <article>
            <p>The Pizza Restaurant was founded in blabla by Mr. Italiano in lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <article class="textcontainer">
                <div>
                    <p>The Chef? Mr. Italiano himselfChef</p>
                    <p> We are proud of our interiors.</p>
                </div>

                <figure>
                    <img src="https://www.w3schools.com/w3images/chef.jpg">
                </figure>

            </article>

            <figure class="img_3">
                <img src="https://www.w3schools.com/w3images/onepage_restaurant.jpg" alt="kep">
            </figure>

        </article>
        <section>
            <div class="nyitvatartascontainer">
                <article>
                    <h1>Opening Hours</h1>
                </article>
                <div class="nyitvatartas">
                    <div>
                        <ul>
                            <li><p>Mon & Tue CLOSED</p></li>
                            <li><p>Wednesday 10.00 - 24.00</p></li>
                            <li><p>Thursday 10:00 - 24:00</p></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><p>Friday 10:00 - 12:00</p></li>
                            <li><p>Saturday 10:00 - 23:00</p> </li>
                            <li><p>Sunday Closed</p></li>
                        </ul>
                    </div>
                </div>
            </div>

        </section>
    </section>

</body>