@{
    ViewData["Title"] = "Home Page";
}



<section class="homecontainer">

    <figure class="sectionclass img-fluid">
        <img src="http://oinos.hu/wp-content/uploads/2018/05/pizza-3000274_1920-900x600.jpg" class="img-fluid" alt="Responsive image">



    </figure>
    
</section>


<div class="card">
    <div class="card-header">
        <h1 class="cardname">Cím</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>