@{
    ViewData["Title"] = "Home Page";
}



<section class="homecontainer">

    <figure class="sectionclass img-fluid">
        <img src="http://oinos.hu/wp-content/uploads/2018/05/pizza-3000274_1920-900x600.jpg" class="img-fluid" alt="Responsive image">



    </figure>
    
</section>


