@{
    ViewData["Title"] = "Home Page";
}
@model List<Kutatas_core.Models.Food>
<div id="navigation">
   @{ Html.RenderPartial("~/Views/Shared/Navigation.cshtml"); }
</div>

<body class="container">

    <main class="cart">
        <ul>
            <li class="listhead">

                <h2>Étel</h2>
                <h2>Ár</h2>
                <h2>Kosár</h2>

            </li>
            @foreach (var item in Model)
            {
                <li class="foodelements" >
                    <div>
                        <div><h2>@Html.DisplayFor(modelItem => item.Name)</h2></div>
                        <div>
                            <p>allergének fdddddddddddddddddddddddddddddddddddddd</p>
                            
                            
                        </div>
                    </div>
                    <div><h2> @Html.DisplayFor(modelItem => item.Price) Ft</h2> </div>
                    <div class="cart" onclick="addItem(this)" data-id="@item.Id">+</div>
                </li>
            }
        </ul>
        <div class="sum"></div>
    </main>
</body>
<script>
   
                var cartContent = JSON.parse(sessionStorage.getItem('cart'));
                var adatb = [];
                if (cartContent == null) {
                    var cartContent = [];
                }

                function addItem(item) {

                    var id = item.dataset.id;
                    var find = false;
                    var cartItem = {};
                    for (let index = 0; index < cartContent.length; index++) {
                        if (cartContent[index].id == id) {
                            
                            cartContent[index].Count++;
                            console.log(cartContent[index]);
                            find = true;
                            break;
                        } else {
                            find = false;

                        }


                    }
                    if (!find) {
                        cartItem = {
                        id: id,
                Count: 1
                            }

                        cartContent.push(cartItem);
                    }


                    sessionStorage.setItem('cart', JSON.stringify(cartContent));
                   // document.querySelector('.sum').innerHTML=`<i class="fas fa-shopping-cart"> </i> $ ${cartTotal(this)}`;
    }


    
    function cartTotal(item) {

        var sum = 0;
         

             for (let index = 0; index < "adatb.count"; index++) {

                 for (let j = 0; j < cartContent.length; j++) {
                     if (cartContent[j].id == "ide kellene az adatbázisból a kaja id") {
                         sum += adatb[index].price * cartContent[j].Count;
                     }

                 }
             }

             return sum;


         }

   

</script>