@{
    ViewData["Title"] = "Home Page";
}

<body class="container">
    <section class="index_container">
        <div class="secondary_nav">
            <button>first</button>
            <button>second</button>
        </div>
        <section class="food_container">
        <div class="food_list">
            <div class="food_description_container">
                <h2>food name</h2>
                <p>food description</p>
            </div>
        <figure class="food_img">
            <img src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/dc23cd051d2249a5903d25faf8eeee4c/BFV36537_CC2017_2IngredintDough4Ways-FB.jpg?output-quality=60&resize=1000:*" />
        </figure>
            <div class="cart_logo_container">
                <i class="fas fa-cart-plus"></i>

            </div>

        </div>
        </section>
    </section>
</body>
