@{
    ViewData["Title"] = "Home Page";
}


<body class="container">
    <header class="container">
        <nav class="nav">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="Home" asp-action="About">About</a>
            <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            <a asp-area="" asp-controller="Admin" asp-action="Admin" id="admin">Admin</a>
            <a asp-area="" asp-controller="Home" asp-action="Cart" id="cart">Cart</a>


        </nav>
        <div class="left-side-container_to_the_signs">
            <li class="nav-item dropdown leftside">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sign in/up</a>
                <div class="dropdown-menu" id="drop">
                    <a asp-area="" asp-controller="Home" asp-action="Registration" id="Registration">Sign Up!</a>
                    <a asp-area="" asp-controller="Home" asp-action="Login">Sign In!</a>
                </div>
            </li>
        </div>
    </header>
   
    <section class="index_container">
        
        <section class="food_container">
            <div class="food_list">
                <div class="food_description_container">
                    <h2>food name</h2>
                    <p>food description</p>
                </div>
                <figure class="food_img">
                    <img src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/dc23cd051d2249a5903d25faf8eeee4c/BFV36537_CC2017_2IngredintDough4Ways-FB.jpg?output-quality=60&resize=1000:*"  id="myImg"/>
                    <i class="fas fa-search-plus"></i>
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                </figure>
                <div class="cart_logo_container">
                    <i class="fas fa-cart-plus"></i>

                </div>

            </div>
        </section>
    </section>
</body>
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>