@{
    ViewData["Title"] = "Login Page";
}
<body>
    <main>

        <section>
            <label>
                <h1>Login to your account</h1>
            </label>
            <div>
                <input type="email" placeholder="example@example.com">

                <input type="password" placeholder="password here">
            </div>
            <div>
                <button id="send" type="submit">Press to login</button>
            </div>
        </section>

    </main>
</body>
</html>