.table{
    width:100%;
   text-align:center;
    color:black;
    border:0px;
}
thead {
    background-color: transparent;
    text-align:center;
}
.listhead {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
    color: black;
    background-color: lightgrey;
    opacity: 0.6;
}

.foodelements {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    text-align:center;
    background-color: lightgray;
    width: 100%;
    flex-flow:row;
    height:100%;
}
foodelements div{
    width:33%;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart i{
    font-size:28px;
    text-align:center;
}
.cart i:hover{
    color:green;
}
