*{
    margin:0px;
    padding:0px;
}
h1, h2, h3, h4, p, a, span, input, s, label, button {
    font-family: 'Indie Flower', cursive;
}
body {
    background-image: url("http://www.wiedenhofer.com/bilder/terenten-pustertal-hotel-wiedenhofer-gastronomie-pizzeria-01.jpg");
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
   
}
.registration-container{
   
    width:100%;
}
.form-registration {
    display: grid;
    grid-template-columns: 1fr;
    margin:auto;
    width: 400px;
    grid-gap: 10px 10px;
}
    .form-registration div {
       
        width: 100%;
    }
.form_user_registration {
    width: 100%;
}

.form-button {
    margin: 15px auto;
    display: flex;
    justify-content: center;
}
label, h1{
    color: white;
    
}
label {
   
    font-size: 18px;
}
.sum{
    color:white;
}


/*Validation*/

/* The message box is shown when the user clicks on the password field */
#messages {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

    #messages p {
        padding: 5px 35px;
        font-size: 12px;
        margin:0px;
        
    }

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    opacity:1;
    color: green;
    font-size:16px;
}

    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
        
    }

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
    }