@{
    ViewData["Title"] = "Admin Upload Page";
}


<body class="container">
    <header class="container">
        <nav class="nav">

            <a asp-area="" asp-controller="Admin" asp-action="Admin" id="admin">Admin</a>
            <a asp-area="" asp-controller="Admin" asp-action="List" id="admin">List</a>
            <a asp-area="" asp-controller="Admin" asp-action="Upload" id="upload">Upload</a>
        </nav>
        <div class="left-side-container_to_the_signs">
            <li class="nav-item dropdown leftside">

                <a asp-area="" asp-controller="Home" asp-action="Login"> Sign out!</a>

            </li>
        </div>
    </header>
    <section class="index_container">
        <div class="upload_over_container">
            <h1>Food image</h1>
            <h1>Food Price</h1>
            <h1>Food name</h1>
        </div>
        <div class="upload_down_container">
            <form method="post" enctype="multipart/form-data" class="uploadform">
                <div>
                    <div>
                        <label for="image_uploads" class="Choose_image_label">Choose images to upload (PNG, JPG)</label>
                        <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
                    </div>
                    <div class="preview">
                        <p>No files currently selected for upload</p>
                    </div>
                </div>

                <div>
                    <input type="number" id="price_of_food" name="foodprice" step="any" class="foodprice" placeholder="123456789Ft" />
                </div>
                <div>

                    <input type="text" id="foodname" name="foodname" class="foodnameinput" />
                </div>
            </form>
            

        </div>
        <div class="upload_submit_container">
            <button>Upload</button>
        </div>
    </section>
</body>
<script>
    var input = document.querySelector('input');
    var preview = document.querySelector('.preview');

    input.style.opacity = 0;
    input.addEventListener('change', updateImageDisplay);
    
    function updateImageDisplay() {
        while (preview.firstChild) {
            preview.removeChild(preview.firstChild);
        }

        var curFiles = input.files;
        if (curFiles.length === 0) {
            var para = document.createElement('p');
            para.textContent = 'No files currently selected for upload';
            preview.appendChild(para);
        } else {
            var list = document.createElement('ol');
            preview.appendChild(list);
            for (var i = 0; i < curFiles.length; i++) {
                var listItem = document.createElement('li');
                var para = document.createElement('p');
                if (validFileType(curFiles[i])) {
                    para.textContent = 'File name ' + curFiles[i].name + ', file size ' + returnFileSize(curFiles[i].size) + '.';
                    var image = document.createElement('img');
                    image.src = window.URL.createObjectURL(curFiles[i]);

                    listItem.appendChild(image);
                    listItem.appendChild(para);

                } else {
                    para.textContent = 'File name ' + curFiles[i].name + ': Not a valid file type. Update your selection.';
                    listItem.appendChild(para);
                }

                list.appendChild(listItem);
            }
        }
    }


    var fileTypes = [
        'image/jpeg',
        'image/pjpeg',
        'image/png'
    ]

    function validFileType(file) {
        for (var i = 0; i < fileTypes.length; i++) {
            if (file.type === fileTypes[i]) {
                return true;
            }
        }

        return false;
    }
    function returnFileSize(number) {
        if (number < 1024) {
            return number + 'bytes';
        } else if (number >= 1024 && number < 1048576) {
            return (number / 1024).toFixed(1) + 'KB';
        } else if (number >= 1048576) {
            return (number / 1048576).toFixed(1) + 'MB';
        }
    }
</script>
