@{
    ViewData["Title"] = "Admin Upload Page";
}


<body class="container">
    <header class="container">
        <nav class="nav">

            <a asp-area="" asp-controller="Admin" asp-action="Admin" id="admin">Admin</a>
            <a asp-area="" asp-controller="Admin" asp-action="List" id="admin">List</a>
            <a asp-area="" asp-controller="Admin" asp-action="Upload" id="upload">Upload</a>
        </nav>
        <div class="left-side-container_to_the_signs">
            <li class="nav-item dropdown leftside">

                <a asp-area="" asp-controller="Home" asp-action="Login"> Sign out!</a>

            </li>
        </div>
    </header>
    <section class="index_container">
        <label for="avatar">Choose a picture of the food:</label>

        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">



    </section>
</body>