<div id="navigation">

    @{ Html.RenderPartial("~/Views/Shared/Admin_Navigation.cshtml"); }

</div>
<body>
    <main class="container">

        <form class="upload_form">
            <h1>Étel feltöltése</h1>
            <div>
                <label for="foodname">Étel neve</label>
                <input type="text" name="foodname" id="foodName" placeholder="étel neve" />
            </div>
            <div>
                <label for="fooddescription">Étel leírás</label>
                <input type="text" id="foodDescription" name="fooddescription" placeholder="allergének, alapanyagok stb..." />
            </div>
            <div>
                <label for="foodprice">Étel ára</label>
                <input type="text" id="foodPrice" name="foodprice" placeholder="Az árak tartalmazzák az adót!" />
            </div>
            <div class="btncontainer">
                <input type="button" name="upload" id="upload_Subimt" value="Feltöltés" onclick="InsertFood()" />
            </div>
           
        </form>


    </main>
</body>
<style>
    .upload_form {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        padding: 50px 50px;
    }

        .upload_form div {
            display:flex;
            justify-content:space-around;
            width: 100%;
            height:60px;
        }
        .upload_form div label{
            width:20%;
            text-align:center;
            margin:auto;
        }
            .upload_form div input {
                width: 60%;
                height:40px;
                margin:10px 0px;
            }
            .btncontainer{
                display:flex;
                justify-content:center;
            }
            .btncontainer input{
               width:20%!important;
               border-radius:5px;
               
            }
</style>
<script>

    function InsertFood() {
        $.post('/Food/InsertFood', {
            name: $('#foodName').val(),
            description: $('#foodDescription').val(),
            price: $('#foodPrice').val()
        },
            function (data) {
                if (data.Succeed) {
                    alert("Mentve!");
                }
                else {
                    alert("Nincs mentve!");
                }
            }, 'json');
        //}

    }


</script>