<div id="navigation">

    @{ Html.RenderPartial("~/Views/Shared/Admin_Navigation.cshtml"); }

</div>
<body>
    <main class="container">

        <form class="upload_form">


            <label for="foodname">Étel neve</label>
            <input type="text" name="foodname" id="foodName" placeholder="étel neve" />

            <label for="fooddescription">Étel leírás</label>
            <input type="text" id ="foodDescription" name="fooddescription" placeholder="allergének, alapanyagok stb..." />

            <label for="foodprice">Étel ára</label>
            <input type="text" id="foodPrice" name="foodprice" placeholder="Az árak tartalmazzák az adót!" />

            <input type="button" name="upload" id="upload_Subimt" onclick="InsertFood()" />

        </form>


    </main>
</body>
<style>
    .upload_form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 50px 50px;
    }

        .upload_form input {
            width: 100%;
        }
</style>
<script>

    function InsertFood() {
        $.post('/Food/InsertFood', {
            name: $('#foodName').val(),
            description: $('#foodDescription').val(),
            price: $('#foodPrice').val()
        },
            function (data) {
                if (data.Succeed) {
                    alert("Mentve!");
                }
                else {
                    alert("Nincs mentve!");
                }
            }, 'json');
        //}

    }


</script>