
@{
    ViewData["Title"] = "StaticMenu";
}


<header class="container">
    <nav class="nav">
        <a asp-area="" asp-controller="Home" asp-action="Index">Főoldal</a>
        <a asp-area="" asp-controller="About" asp-action="Index">Rólunk</a>
        <a asp-area="" asp-controller="Contact" asp-action="Index">Kapcsolat</a>
        <a asp-area="" asp-controller="Upload" asp-action="Index">Feltöltés</a>
        <a asp-area="" asp-controller="OrderListView" asp-action="Index">Rendelések</a>
        <a asp-area="" asp-controller="Food" asp-action="Index">Ételek</a>



    </nav>
    <div class="left-side-container_to_the_signs">
        <li class="nav-item dropdown leftside">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sign in/up</a>
            <div class="dropdown-menu" id="drop">
                <a asp-area="" asp-controller="User" asp-action="Logout"> Sign Out!</a>
            </div>
        </li>
    </div>
</header>
