@{
    ViewData["Title"] = "Login Page";
}

<div id="navigation">
    @{ Html.RenderPartial("~/Views/Shared/Navigation.cshtml"); }
</div>

<body>
    <main class="container">

        <section class="login-container" id="animate">


            <!-- action="/Controller/Metódus" <- ez jó lesz a metódusokhoz később is... -->
            <<form class="form-login" action="/User/Login" method="post">

                <label class="login-title">
                    <h1>Login to your account</h1>
                </label>
                <div class="div-login">


                    <label for="Email">Email</label>
                    <!--...és hát ilyenkor az kell, hogy a formban az input elemeknek legyen nevük (name), a metódus hívásánál ez lesz a paraméter neve-->
                    <input type="email" name="email" class="form-control is-valid" id="email" placeholder="email@email.com" required>


                    <label for="Password">Password</label>
                    <input type="password" name="password" class="form-control is-valid" id="password" placeholder="password" required>


                    <div class="button_container">
                        <button class="btn btn-primary" type="submit"><i class="fas fa-sign-in-alt"></i>Sign in</button>
                        <p class="button_container_text">Don't you have an account?<span> <a href="Registration">Click here</a></span> to registration</p>
                    </div>
                </div>

            </form>

        </section>

    </main>
</body>