@{
    ViewData["Title"] = "Registration Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div id="navigation">
    @{ Html.RenderPartial("~/Views/Shared/Navigation.cshtml"); }
</div>

<body>
    <main class="container">

        <section class="registration-container">

            <!--    Még szerencse, hogy a button nem submit, különben a regisztrációs form loginolni akarna...
                    Ezt javítsd ki, a login-nál ott van a helyes példa (JS sem kell, felesleges)         -->
            <form method="post" action="/home/login/" class="form_user_registration" id="formid">
                <label>
                    <h1>Registration</h1>
                </label>
                <div class="form-registration">
                    <div>
                        <!-- Mi ez a validationServer? -->
                        <label for="validationServer01">Email</label>
                        <input type="email" name="email" class="form-control is-valid" id="email" placeholder="email@email.com" required>
                    </div>

                    <div>
                        <label for="validationServer02">Password</label>
                        <input type="password" name="new-password" class="form-control is-valid" id="password" placeholder="password" required>
                    </div>

                    <div>
                        <label for="validationServer02">Confirm Password</label>
                        <input type="password" name="new-password" class="form-control is-valid" id="password2" placeholder="password" required>
                        <span id='message'></span>
                    </div>

                    <div>
                        <label for="validationServer01">First Name</label>
                        <input type="text" class="form-control is-valid" id="first_name" placeholder="First Name" required>
                    </div>

                    <div>
                        <label for="validationServer01">Last Name</label>
                        <input type="text" class="form-control is-valid" id="last_name" placeholder="Last Name" required>
                    </div>
                    <div>
                        <label for="validationServer01">City</label>
                        <input type="text" class="form-control is-valid" id="city" placeholder="City" required>
                    </div>
                    <div>
                        <label for="validationServer01">Phone number</label>
                        <input type="number" class="form-control is-valid" id="phone" placeholder="example:+36201112242" required>
                    </div>
                    <div>
                        <label for="validationServer01">Address</label>
                        <input type="text" class="form-control is-valid" id="address" placeholder="Cool str." required>
                    </div>


                </div>
                <div class="form-button">
                    <button class="btn" onclick="InsertUser()">Registration</button>
                </div>
            </form>


        </section>



    </main>
</body>
<script>
    $('#password, #password2').on('keyup', function () {
        if ($('#password').val() == $('#password2').val()) {
            $('#message').html('Matching').css('color', 'green');
            $('#password').html('').css('background-color', 'lightgreen');
        } else
            $('#message').html('Not Matching').css('color', 'red');

    });
    /*user: email/ password/firstname / lastname/ city/ phone number/ address */

    var currentEmail;


    function returnData(param) {
        currentEmail = param.Email;
        //console.log(currentEmail);
    }

    function SelectUser(email, callback) {
        $.post('/User/SelectUser', { email: email }, function (data) {
            callback(data);
        });
    }

    function InsertUser() {
        //SelectUser($('#email').val(), returnData);
        //if (currentEmail != null || currentEmail != "") {
        //    alert("This email is already used for another user!");
        //}
        //else {
        $.post('/User/RegisterUser', {
                firstName: document.getElementById("first_name").value,
                lastName: document.getElementById("last_name").value,
                email: document.getElementById("email").value,
                phoneNumber: document.getElementById("phone").value,
                password: document.getElementById("password").value,
                city: document.getElementById("city").value,
                address: document.getElementById("address").value
            },
                function (data) {
                    if (data.Succeed) {
                        window.location.reload();
                        window.localStorage.setItem('token', data.token);
                    }
                }, 'json');
        //}

    }
</script>